bin
lib
/include/
db
dbd
*_BAK.adl
documentation.html
envPaths*
cdCommands
dllPath.bat
/iocs/vimbaIOC/iocBoot/iocVimba/autosave/*.sav*
/iocs/vimbaIOC/iocBoot/iocVimba/autosave/*.cfg*
configure/*.local
core.*
O.*/
*~
*.swp
